<table style="border-spacing: 10px;">
  <tr>
    <th>Time</th>
    <th>Temp</th>
    <th>Wind</th>
    <th>Rainfall</th>
    <th>Observed disruptions</th>
    {% for model, value in predicted.itervalues().next()|dictsort %}
        <th>{{ model }}</th>
    {% endfor %}
  </tr>
  <tr>
    <th>Accuracy</th>
    <td></td>
    <td></td>
    <td></td>
    <td>100</td>
    <td>x</td>
    <td>y</td>
  </tr>
{% for time, value in forecasts|dictsort %}
  <tr>
    <td>{{ time }}</td>
    <td>{{ value['Temperature'] }}</td>
    <td>{{ value['WindSpeedMS'] }}</td>
    <td>{{ value['Precipitation1h'] }}</td>
    <td>{{ actual[time] }}</td>
    {% for model, dis in predicted[time]|dictsort %}
        <td>{{ dis }}</td>
    {% endfor %}
  </tr>
{% endfor %}
</table>