{% set title='Helsinki public transport disruption forecast' %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  </head>
  <body>
    <div class="container">
      <h2>{{ title }}</h2>
      <div>
        <br />
        <a class="btn btn-default{% if page=='forecast' %} active {% endif %}" role="button" href="/">Disruption forecast</a>
        <a class="btn btn-default{% if page=='history' %} active {% endif %}" role="button" href="/history">Disruption prediction history</a>
        <br />
        <br />
      </div>
      {% block content %}{% endblock %}
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
